<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Project List</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <input class="input-filter" type="text" [(ngModel)]="nameFilter" placeholder="search">           
        <button mat-icon-button [disabled]="!nameFilter" (click)="nameFilter=''">
          <mat-icon aria-label="Clear">highlight_off</mat-icon>
        </button>      
        <mat-nav-list class="nav-list">
          <ng-container *ngFor="let student of students | async">
            <a *ngIf="student.name.toLowerCase().includes(nameFilter.toLowerCase())" mat-list-item (click)="setCurrStudent(student)"> 
              <img src="{{student.photoUrl}}" alt="{{student.name}}" class="photo-thumbnail"
               onError="this.src='assets/images/no-photo.gif'"> 
              <span [innerHTML]="student.name | highlight: nameFilter"></span>
            </a>
          </ng-container>  
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content class="content">
        <h1>{{currStudent?.name}}</h1>
        <p>Website: <a target="_blank" href="{{currStudent?.websiteUrl}}">{{currStudent?.websiteUrl}}</a></p>
        <p>Code Source: <a target="_blank" href="{{currStudent?.codeSourceUrl}}">{{currStudent?.codeSourceUrl}}</a></p>
        <p *ngIf="currStudent?.cvUrl">CV: <a target="_blank" href="{{currStudent?.cvUrl}}">{{currStudent?.cvUrl}}</a></p>
        <div class="photo-container">
          <img src={{currStudent?.photoUrl}} alt="{{currStudent?.name}}" onError="this.src='assets/images/no-photo.gif'">
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
