.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .nav-list {
      width: 300px;
  }

  .nav-list a {
      padding: 5px 0;
  }

  .content {
      padding: 0 20px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .photo-container img {
      max-width: 100%;
  }

  .photo-thumbnail {
    border-radius: 30px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 4px 16px; 
    vertical-align: middle;
    width: 48px;
    height: 48px;
  }

  .input-filter {
    border: 0;
    margin-top: 10px;
    margin-left: 82px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    width: 150px;
  }

  :host ::ng-deep .search-highlight {
    font-weight: bold;
  }
  